.event_provider_name {
  color: gray;
  font-size: 10px;
}

.event_time {
  font-size: 16px;
}

.event_header_label {
  font-size: 20px;
  font-weight: bold;
}

.event_source_name {
  border-left: 5px solid black;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.event_source_config_label {
  opacity: 0.6;
  font-weight: bold;
}

.items_frame {
  background-color: @theme_base_color;
}

.item_list {
  background-color: @theme_bg_color;
}
